.Container {
  width: 45%;
  padding: 3.3em;
  padding-left: 8em;
}

.Title {
  font-family: "Montserrat";
  font-style: italic;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  display: flex;
  align-items: center;
  text-decoration-line: underline;

  color: #fe3b1f;
  margin-bottom: 10px;
}

.SubTitle {
  margin-top: 60px;
}
