.AbsoluteNavigation,
.RelativeNavigation {
  display: flex;
  align-items: center;
  width: 231px;
  height: 19px;
  left: 80.5px;
}

.AbsoluteNavigation {
  position: absolute;
  top: 555px;
}

.RelativeNavigation {
  position: relative;
  margin-top: 100px;
}

.AbsoluteNavigation li, .RelativeNavigation li {
  margin-left: 1em;
}
