.Container {
  position: relative;
  width: 1920px;

  background: var(--primary-bg);
  color: #000000;
  font-family: "Montserrat";
}

.Title {
  position: absolute;
  width: 1128px;
  height: 100px;
  left: 359px;
  top: 100px;

  font-family: "Rowdies";
  font-style: normal;
  font-weight: 700;
  font-size: 56px;
  line-height: 70px;
  display: flex;
  align-items: center;
  letter-spacing: 0.11em;

  color: #ffffff;
}

.Dropdown {
  position: relative;
  width: 1154px;
  height: 52px;
  left: 343px;
  top: 281px;

  background: #f05039;
  cursor: pointer;

  padding: 1em;
  color: #ffffff;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.LighterDropdown {
  opacity: 0.7;
}

.Vector {
  width: 12.02px;
  height: 7.42px;
}

.UpsideDownVector {
  transform: rotate(180deg);

}

.Dropdown:not(:first-child) {
  margin-top: 30px;
}

.Application {
  display: none;
  position: relative;
  width: 1154px;
  height: 1542px;
  left: 343px;
  top: 280px;

  background: #ffffff;

  border: 1px solid #fe3b1f;
  box-sizing: border-box;
}

.Application:last-child {
  margin-bottom: 500px;
}

.ShowApplication {
  display: block;
}
