.Container {
  position: absolute;
  width: 449px;
  left: 650px;
  top: 57px;
}

.Title {
  font-family: "Montserrat";
  font-style: italic;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  display: flex;
  align-items: center;
  text-decoration-line: underline;

  color: #fe3b1f;
  margin-bottom: 25px;
}

.marginLeft {
  margin-left: 90px;
  margin-top: -18px;

  font-family: "Montserrat";
  font-style: italic;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  display: flex;
  align-items: center;

  color: #525252;
}
